<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> about </h1>
    <a href="/home"> Home </a>
    <a href="/about"> About </a>

<h1>Sir David Attenborough </h1>
<p>On his broadcasting and passion for nature, NPR stated he "roamed the globe and shared his discoveries and enthusiasms with his patented semi-whisper way of narrating".[2] He is widely considered a national treasure in the UK, although he himself does not like the term.He is the younger brother of the late director, producer and actor Richard Attenborough,and older brother of the late motor executive John Attenborough.</p>
<aside>"From wikipedia"</aside>
    
</body>
</html>